# Data Science Tools and Ecosystem

## Author
Anas Alfaihan

_In this notebook, Data Science Tools and Ecosystem are summarized._

**Objectives:**
* List popular languages for Data Science
* List populat libraries used in Data Science
* List some open source Data Science tools
* showing how to evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

|Data Science Tools|
|---|
|Jupyter Nootbook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335